@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$--backgrd-clr-1: #5db7f4;
$--backgrd-clr-2: #77fe3d;
$--backgrd-clr-3: #ccfb3f;
$--backgrd-clr-4: #fbcc3f;
$--backgrd-clr-5: #bafdf3;
/* BUTTONS */
$--backgrd-clr-6: #e74c3c;
$--backgrd-clr-7: #3ace2d;
$--backgrd-clr-input-1: #fdebd0;
$--backgrd-clr-input-2: #d5f5e3;
/* NUMERO POSITIVO O NEGATIVO */
$--num-positivo-clr: #217c48;
$--num-negativo-clr: #ba4a00;
/* TEXTO FUENTES y COLORES */
$--text-clr-modal-1: #196f3d;
$--ff-num: "Gochi Hand", cursive;
$--ff-text: "Comfortaa", cursive;